.DS_Store
*.o
*.obj
*.dylib
*.so
*.dll
*.exe
*.app
*.ilk
*.pdb
*.jar
*.pyd
*.tar.gz
.project
.cproject
GmatLog.txt
language.settings.xml
GMAT
Debug
Linux*
Release
*.user
/.settings/
/KARI/
# *.md
*~
*.swp
/temp/
/WinBuild/
/RemoteSystemsTempFiles/
/CMakefile
/GMAT-*-x64/
/GmatDevelopment/
/ApplicationCopyForTests/
/.metadata/
*.pydevproject
/pydepends/
doc/SystemDocs/MathematicalSpecification/ScratchPad\.pdf
doc/SystemDocs/MathematicalSpecification/ScratchPad\.synctex\.gz
doc/SystemDocs/MathematicalSpecification/ScratchPad\.tex
doc/SystemDocs/MathematicalSpecification/GMATMathSpec\.ilg
doc/SystemDocs/MathematicalSpecification/GMATMathSpec\.ind
doc/SystemDocs/MathematicalSpecification/GMATMathSpec\.synctex
doc/SystemDocs/MathematicalSpecification/ScratchPad\.log
doc/SystemDocs/MathematicalSpecification/ScratchPad\.out
depends/boost*
*.pyc
*.asv
*.bak
__pycache__
.ipynb_checkpoints/
*.bak
*.sublime-project
*.sublime-workspace
.vs/
/build
/depends/cspice65/windows/cspice64
/depends/cspice66/windows/cspice64
/src/base/solarsys/CPaJAcXSKaQEfMDHG.svg
/src/gmatutil/util/geometry/desktop.ini
/src/gmatutil/util/desktop.ini
/application/samples/SAASample.txt
/application/samples/GEO_EWSK_SunPointEcc.script
/application/samples/ex_saa.script
/application/samples/EKFS_EphemerisFile_STK_PredDv.script
/application/samples/EKFS_EphemerisFile_FiniteBurnTHF_EphemerisSegmentation_DuringEstimationArc_STK.script
/application/output/Ex_SAA_Filter.e
/application/output/Ex_SAA.csv
/application/output/EKFS_EphemerisFile_STK_PredDv_Filter.e
/application/output/EKFS_EphemerisFile_STK_PredDv.csv
/application/data/navdata/thrusthistory/PredDv_Large.thrust

/prototype/CSALTMatlab/TestProblems/LISA/LISA_Sean/de430.bsp  # Too large for GitHub file size limit (114MB vs 100MB)
